/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.messages-list {
  max-height: 200px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}


.message-sent {
  position: relative !important;
  background-color: #D9EDF7 !important;
  border-color: #BCE8F1 !important;
  margin: 5px 20px !important;
  padding: 10px !important;
  float: right !important;
}


.message-received {
  background-color: #F1F0F0 !important;
  border-color: #EEEEEE !important;
  margin: 5px 20px !important;
  padding: 10px !important;
  float: left !important;
}