// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.geral  {position: relative}

#box1  {
  opacity:1.0;
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:100px;
  border-radius:20px;
  background-color:#0B6121;
}

#box2  {
  opacity:0.6;
  position:absolute;
  left:410px;
  top:200px;
  width:420px;
  height:200px;
  border-radius:10px;
  background-color:#0B6121;
}

#boxImage  {
  position:absolute;
  left:100px;
  top:840px;
}

.frame  {
  position:absolute;
  left:400px;
  top:200px;
  width:380px;
  height:140px;
  padding:20px;
  border-radius:20px;
  border:10px solid #08088A;
  font-size:140%;
}

#colorido {
  color:#0B3B17;
  letter-spacing:10px;
  font-size:14px;
  position:relative;
  left:40px;
  top:0px;
}
